/* reset margin, padding */
body {
    margin : 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

/* ảnh nhưng lại dùng div, vì div có nhiều thuộc tính hơn để chỉnh sửa, ví dụ như background-image.... */
.banner {
    /* border       : 1px solid red; */
    height             : 500px;
    /* width           : 100%; */
    background         : url('./banner.jpg') center center no-repeat;
    /* overflow        : hidden; */
    padding            : 20px;
}

.about-sign-in {
    height    : 80px;
    width     : 100%;
    text-align: right;
}

.about,
.sign-in {
    text-decoration: none;
    margin-top     : 20px;
    padding        : 10px 15px;
    display        : inline-block;
    text-transform : uppercase;
}

.sign-in {
    margin-right : 60px;
    margin-left  : 25px;
    border       : 1px solid green;
    border-radius: 20px;
}