/* reset margin, padding */
body {
    margin : 0 !important;
    padding: 0 !important;
}

/* ảnh nhưng lại dùng div, vì div có nhiều thuộc tính hơn để chỉnh sửa, ví dụ như background-image.... */
.banner {
    /* border       : 1px solid red; */
    height          : 500px;
    /* width        : 100%; */
    background      : url('./banner.jpg') center center no-repeat;
    overflow        : hidden;
}